body{
    background-color: black;
}


hr {
    height: 5px;
    background-color: palevioletred;
    border: none;
}


.btns{
    padding: 10px;
    text-align: right;
}

button{
    border: 3px solid palevioletred;
    color: white;
    background-color: black;
    font-weight: bold;
    
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    transition: 0.8s;
    width: 150px;
    height: 65px;
}

button:hover{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: palevioletred;
    background-color: white;
    width: 160px;
    height: 70px;
}


.title{
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: 'Playfair Display', serif;
  
    
}

img{
    margin-top: 40px;

    margin-right: 40px;
    width: 600px;
    height: 400px;
}

p{
    font-size: 2em;
    color: white;
}

h1{
    font-size: 3em;
    color: white;
    font-family: 'Playfair Display', serif;
}


img:hover{
    border: 4px solid white;
    width: 620px;
    height: 420px;
}